<div id="cookies-manage" {% if cookiesSettingsGet('cookies_manage_css_class') %}class="{{ cookiesSettingsGet('cookies_manage_css_class') }}"{% endif %}>

    {% if cookiesSettingsGet('cookies_manage_title', null) %}

        <h2 class="panel-title title"><strong>{{ cookiesSettingsGet('cookies_manage_title') }}</strong></h2>
        
    {% endif %}

    {% if cookiesSettingsGet('cookies_manage_content', null) %}

        <div class="content">{{ cookiesSettingsGet('cookies_manage_content')|raw }}</div>

    {% endif %}

    {% partial '@list-cookies' 
        disablePageReload = cookiesSettingsGet('cookies_manage_disable_page_reload', 0) %}

</div>