<div id="cookies-manage" class="cookies-manage" data-sg-list-wrap{% if sgManageReload %} data-sg-reload="1"{% endif %}>

    {% if cookiesSettingsGet('cookies_manage_title') %}
        <h2 class="cookies-manage__title">{{ cookiesSettingsGet('cookies_manage_title') }}</h2>
    {% endif %}

    {% if cookiesSettingsGet('cookies_manage_content') %}
        <div class="content">{{ cookiesSettingsGet('cookies_manage_content')|raw }}</div>
    {% endif %}

    {% partial '@cookies-list' customId = '-manage' %}

    <div class="cookies-manage__actions">
        <a href="#" class="btn-primary" data-sg-action="save">{{ cookiesSettingsGet('btn_save_label', 'Save selection') }}</a>
    </div>

</div>
