<div id="sg-{{ __SELF__ }}">

    {% partial __SELF__ ~ '::cookiesmanage-' ~ cookiesSettingsGet('ui_style','default') %}

</div>

{% put scripts %}

    <script>

        (function() {
            var saveBtn = document.getElementById('cookies-manage-save');
            if (!saveBtn) { return; }

            saveBtn.addEventListener('click', function(e) {
                e.preventDefault();

                {% partial '@set-cookies' setOnlyManageCookies = true %}

                {% if cookiesSettingsGet('cookies_manage_disable_page_reload', 0) == 0 %}

                    location.reload(true);

                {% endif %}

            });
        })();

    </script>

{% endput %}