#cookies-bar {
    position: fixed;
    left: auto;
    bottom: 20px;
    right: 20px;
    max-width: 560px;
    color: black;
    z-index: 1000;
    text-align: left;
    padding: 40px;
    background-color: fade(white, 95%);
    box-shadow: 0 0 10px fade(black, 30%);
    border-radius: 10px;

    .title {
        margin: 0;
    }
    
    .content {
        margin-top: 15px;
    }

    .buttons {
        margin-top: 40px;

        .btn {
            margin-right: 5px;
        }
    }
}
