#cookies-bar {
    position: fixed;
    left: auto;
    bottom: 20px;
    right: 20px;
    max-width: 560px;
    color: black;
    background-color: fade(lighten(black,92%), 98%);
    z-index: 1000;
    text-align: left;
    padding: 40px;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0 0 10px gray;
    
    .title {
        margin: 0;
    }
    
    .content {
        margin-top: 10px;
    }

    .buttons {
        margin-top: 40px;
    }
}
