.cookies-bar-container {
  background-color: rgba(235, 235, 235, 0.98);
}
.cookies-bar-container #sg-cookiesBar .cookies-bar {
  padding-right: 0px;
  padding-left: 30px;
  background-position: 0 center;
}
