.cookies-bar-container {
    background-color: fade(lighten(black, 92%), 98%);
    
    #sg-cookiesBar {

        .cookies-bar {
            padding-right: 0px;
            padding-left: 30px;
            background-position: 0 center;
        }
    }
}
