#cookies-bar {
  position: fixed;
  left: auto;
  bottom: 20px;
  right: 20px;
  max-width: 560px;
  color: black;
  z-index: 1000;
  text-align: left;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
@media (max-width: 980px) {
  #cookies-bar {
    left: 20px;
    right: 20px;
    padding: 20px;
  }
}
#cookies-bar .title {
  margin: 0;
}
#cookies-bar .content {
  margin-top: 15px;
}
#cookies-bar .buttons {
  margin-top: 40px;
}
@media (max-width: 980px) {
  #cookies-bar .buttons {
    text-align: center;
  }
}
#cookies-bar .buttons .btn {
  margin-right: 5px;
}
