#cookies-bar {
  position: fixed;
  left: auto;
  bottom: 20px;
  right: 20px;
  max-width: 560px;
  color: black;
  background-color: rgba(235, 235, 235, 0.98);
  z-index: 1000;
  text-align: left;
  padding: 40px;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: 0 0 10px gray;
}
#cookies-bar .title {
  margin: 0;
}
#cookies-bar .content {
  margin-top: 10px;
}
#cookies-bar .buttons {
  margin-top: 40px;
}
