<a class="{{ button.accept_all_cookies_btn ? 'btn-accept-all'}} {{ button.css_class ? button.css_class : 'btn' }}"
    {{ button.html_attributes|raw }}

    {% if button.show_modal %}

        {% set showModal = button.show_modal %}
        data-toggle="modal" 
        data-target="#sg-settings-modal-{{ __SELF__ }}"
        href="#sg-settings-modal-{{ __SELF__ }}"

    {% else %}

        {% if button.url %}

            href="{{ button.url_external ? button.url : button.url|app }}" 

            {% if button.url_external %}
                target="_blank"
            {% endif %}

        {% else %}

            href="#"

        {% endif %}

    {% endif %}

    >{{ button.title }}
</a>
