{% if cookiesSettingsGet('cookies',null)|length %}

    {% for cookie in cookiesSettingsGet('cookies') %}

        {% for script in cookie.scripts %}

            {# Test for production mode required first #}
            {% if script.scripts_run_production == false 
                or ( script.scripts_run_production == true and this.environment == 'production') %}

                {% if cookie.required or sgCookies[cookie.slug] %}

                    {% if script.scripts_code %}
                    
                        {% put scripts %}

                            {{ script.scripts_code|raw }}

                        {% endput %}
                    
                    {% endif %}

                    {% if script.scripts_file %}

                        {% put scripts %}

                            <script src="{{ script.scripts_file|media }}"></script>
                        
                        {% endput %}

                    {% endif %}

                {% endif %}

            {% endif %}

        {% endfor %}

    {% endfor %}

{% endif %}
